recursive-include honeybee_energy_ph *
recursive-include honeybee_ph *
recursive-include honeybee_ph_standards *
recursive-include honeybee_ph_utils *
recursive-exclude honeybee_grasshopper_ph *
recursive-exclude honeybee_ph_rhino *
recursive-exclude tests *
recursive-exclude docs *
recursive-exclude .github *
recursive-exclude diagrams *
recursive-exclude docs *
exclude .gitignore
exclude deploy.sh
exclude .releaserc.json
exclude .coverage
exclude build_image.sh
exclude MANIFEST.in
exclude pyproject.toml
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store